<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css">
</head>
<body  style="background-color: #FBF9F8;">
 <div class="top">
            <table style="width: 100%;">
                <tr>
                    <td width="28%"></td>
                    <td>
                        <div>
                        <h1  class="main">Oops, there's no page here!</h1>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
 </div>
  <div class="top">
            <table style="width: 100%;">
                <tr>
                    <td width="20%"></td>
                    <td>
                        <div>
                        <p class="summaryTextValue">
					    We're sorry, the page you are looking for does not exist!
					    Go back to <a href="/main">Climate Summary Page</a>.
						</p>
                        </div>
                    </td>
                    <td> </td>
                </tr>
            </table>
 </div>


</body>
</html>