<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <link th:href="@{/css/custom.css}" rel="stylesheet" type="text/css">
</head>
<body  style="background-color: #FBF9F8;">
 <div class="top">
            <table style="width: 100%;">
                <tr>
                    <td width="33%"></td>
                    <td>
                        <div>
                        <h1  class="main">Oops, something went wrong!</h1>
                        </div>
                    </td>
                    <td width="33%"></td>
                </tr>
            </table>
 </div>
  <div class="top">
            <table style="width: 100%;">
                <tr>
                    <td width="20%"></td>
                    <td>
                        <div>
                        <p class="summaryTextValue">
					    An unexpected error has occurred. Please contact your system administrator.
						</p>
                        </div>
                    </td>
                    <td> </td>
                </tr>
            </table>
 </div>


</body>
</html>