<!DOCTYPE html>
<html lang="en">
<head>
  <title>Environment Climate Summary Page</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
  <link href="css/custom.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js" type="text/javascript"></script>
</head>
 
<body >
<div class="container">
	<h1>Climate Summary</h1>
	<div id="filterContainer">
	</div>
	<div class="row table-responsive  w-auto">
		<table id="summaryTable" class="table">
			<thead>
				<tr >
					<th>Station Name</th>
					<th>Date</th>
					<th style="white-space:nowrap;">Average Temperature</th>
				</tr>
			</thead>
			<tbody>
				 <tr  th:each="climateData, rowStat: ${climateSummaryList}"
				 	 th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">
					<td style="white-space:nowrap;" th:text="${climateData.name}">0</td>
					<td style="white-space:nowrap;" th:text="${climateData.Date}">0</td>
					<td><a th:text="${climateData.meanTemp}" th:href="@{/details/{id}(id=${climateData.id})}"/></td>
			    </tr>
			</tbody>
		</table>
	</div>
</div>

</body>

</html>